<script type="text/javascript">
	$(function(){
		alert('r');

	});


</script>
<table>
<tr>
<td colspan="3">
Nom du catalogue
</td>
<td>
<input type='text' id="cata_nom">
</td>
</tr>
<tr>
<td>Nom</td><td>Qté</td><td>editer</td><td>supprimer</td>
</tr>
</table>