<html>
<head>
<link rel="stylesheet" href="/styles/font-awesome-4.7.0/css/font-awesome.min.css">
<link href="/js/dependencies/pnotify.custom.min.css" rel="stylesheet">
<link href="/js/dependencies/caisse.css" rel="stylesheet">
<link href="/js/dependencies/sc026/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="/styles/style.css" type="text/css" media="screen" />
<link href="/js/dependencies/jquery-ui/jquery-ui.css" rel="stylesheet">
<link href="/js/dependencies/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/js/dependencies/DataTables-1.10.12/media/css/jquery.dataTables.min.css" rel="stylesheet">

 <script type="text/javascript" src="/js/dependencies/jquery.js"></script>
 <script type="text/javascript" src="/js/dependencies/jquery-ui.js"></script>
 <script type="text/javascript" src="/js/dependencies/pnotify.js"></script>
 <script type="text/javascript" src="/js/dependencies/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="/js/dependencies/jquery.spasticNav.js"></script>
  <script type="text/javascript" src="/js/dependencies/DataTables-1.10.12/media/js/jquery.dataTables.js"></script>		
  <script type="text/javascript" src="/js/dependencies/sc026/scr/modernizr.js"></script>
 
<script>
$(function(){
	function impression(content){
	    var fen = window.open("", "", "height=500, width=600,toolbar=0, menubar=0, scrollbars=1, resizable=1,status=0, location=0, left=10, top=10");
	    // style du popup
	    fen.document.body.style.color = '#000000';
	    //fen.document.body.style.backgroundColor = '#FFFFFF';
	    fen.document.body.style.padding = "20px";
	     
	    // Ajout des données a imprimer
	    fen.document.title = "";
	    fen.document.charsetSet = "utf-8";
	    fen.document.body.innerHTML += " " + content + " ";
	     
	    // Impression du popup
	    fen.window.print();
	     
	    //Fermeture du popup
	    fen.window.close();
	    return true;
	}
	var ttl = 0;
	$("#frmEditionLecture").hide();
	PNotify.prototype.options.styling = "jqueryui";
	var selectProduits = "<select id='id_type'>"; 
	$.get('/produits/getTypes/',{}, function(datas){
	    
	    var selectedType = '';
	    if(datas.err == null) {
	      var types = datas.data;
	      for (var cc = 0; cc < types.length; cc++) {
	        var attrS ="";
	        if(selectedType == types[cc].id) attrS = "selected"; 
	        selectProduits += "<option value='" + types[cc].id + "' " + attrS + " >" + types[cc].nom + "</option>";
	      }
	      selectProduits += "</select>";
	    }
	    //$("#rayon").append(selectProduits);
	    
    });
    $.get('/edition/catalogue/getAll',{}, function(datas){
    	console.log(datas);
	    var selectCata = '<select id="choixCata"><option value="" selected>--</option>';
	    if(datas.err == null) {
	      var ct = datas.data;
	      for (var cc = 0; cc < ct.length; cc++) {
	        var attrS ="";
	       // if(selectedType == types[cc].id) attrS = "selected"; 
	        selectCata += "<option value='" + ct[cc] + "' " + attrS + " >" + ct[cc]+ "</option>";
	      }
	      selectCata += "</select>";
	    }
	    $("#td_cata").append(selectCata);
	    $("#choixCata").change(function() {
	    	document.location.href = "/edition/ajouter/" + $(this).val();
	    });
    });
	$('body').on('click', 'button.action-add', function(){
		document.location.href = "/edition/ajouter";

	});
	$('body').on('click', 'button.action-print', function(){
		var nom = $("#cata_nom").val();
		var populatedCatalogue = {'nom': nom, 'sections' :[]};
		
		populatingCatalogue(populatedCatalogue);
		console.log("popu", populatedCatalogue);
		$.post("/edition/catalogue/print", {'edition': populatedCatalogue}, function(toPrint){
			var title = "Impression";
			var text, l_type;
			if(toPrint == "" || toPrint == null) {
				text = toPrint;
				l_type = "error";
			} else {
				text = "OK";
				l_type = "success";
				impression(toPrint);
			} 
			var infos = new PNotify({
                title: title,
                text: text,
                type: l_type,
                desktop: {
                  desktop: true
                }
            }); 
		});

	});
	$('body').on('click', 'button.action-view', function(){
		$("#frmEditionLecture").dialog({
			      height: 160,
			      width: 300,
			      top: 110,
			      modal: true,
			      resizable: false,
			      buttons: {
			        "OK": function() {
			        		
				        $(this).dialog( "close" );
				    }
			      }
		});
	});
	function populatingCatalogue(catalogue) {
			$(".content_section").each(function(){
					var section = {
						'section': $(this).data('section'),
						'produits': []
					};
					$(this).find(".imgPetite").each(function(){
						var prd = {
							'id': $(this).data('id'),
							'icone': $(this).attr('src')
						}
						section.produits.push(prd);
						ttl ++;
					});
					catalogue.sections.push(section);
			});
	}
});
</script>
</head>
<body>
<div id="dvHeader" class="row">
<%- menu %>
</div>
<div style="text-align:center"><H1><font >EDITION CATALOGUE</font></H1></div>
<button id="print" class="btn btn-success btn-xs btn-action action-add" style="font-size: 13px;" title="Ajouter un catalogue" ><i class="fa fa-plus" style="margin-right:4px"></i>Ajouter catalogue</button>

<button class="btn btn-success btn-xs btn-action action-view" style="font-size: 13px;" title="Lister les catalogues" ><i class="fa fa-database" style="margin-right:4px"></i>voir un catalogue</button>

<button id="print" class="btn btn-success btn-xs btn-action action-print" style="font-size: 13px;" title="Imprimer le catalogue courrant" ><i class="fa fa-print" style="margin-right:4px"></i>Imprimer</button>
<div id="dvMiddle" class="row">
	<div id="container_edition" class="col-md-12" style="border:1px solid black; margin-left:20px;margin-top:20px">
	<% if (action == 'ajouter') { %>
	<%- include ajouter.ejs %>
	<%}%>
	<% if (action == 'lister') { %>
	coucou lister
	<%}%>	
	</div>
	
</div>
<div id="frmEditionLecture" class="ui-widget" title="Titre de la Section">
    <table id="sct" class="ui-widget ui-widget-content">
      <tr>
        <td id="td_cata"></td>
      </tr>
    
  </table>
</div>


</body>