<ul id="nav">
		<li id="selected"><a href="/">Caisse</a></li>
		<li><a href="/produits">Produits</a></li>
		<li><a href="/clients">Clients</a></li>
		<li><a href="/fournisseurs">Fournisseurs</a></li>
		<li><a href="/commandes">Commandes</a></li>
		<li><a href="/stats">Stats</a></li>
		<li><a href="/config">Config</a></li>
</ul>
