<html>
<head>
<link rel="stylesheet" href="/styles/font-awesome-4.7.0/css/font-awesome.min.css">
<link href="/js/dependencies/pnotify.custom.min.css" rel="stylesheet">
<link href="/js/dependencies/caisse.css" rel="stylesheet">
<link href="/js/dependencies/sc026/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="/styles/style.css" type="text/css" media="screen" />
<link href="/js/dependencies/jquery-ui/jquery-ui.css" rel="stylesheet">
<link href="/js/dependencies/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/js/dependencies/DataTables-1.10.12/media/css/jquery.dataTables.min.css" rel="stylesheet">
  
 <script type="text/javascript" src="/js/dependencies/jquery.js"></script>
 <script type="text/javascript" src="/js/dependencies/jquery-ui.js"></script>
 <script type="text/javascript" src="/js/dependencies/pnotify.js"></script>
 <script type="text/javascript" src="/js/dependencies/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="/js/dependencies/jquery.spasticNav.js"></script>
  <script type="text/javascript" src="/js/dependencies/DataTables-1.10.12/media/js/jquery.dataTables.js"></script>		
 <script type="text/javascript" src="/js/dependencies/composant/ModalFormBind.js"></script>
 <script type="text/javascript" src="/js/dependencies/sc026/scr/modernizr.js"></script>
<script>
$(function(){
    PNotify.prototype.options.styling = "jqueryui";
 	
    $("#formModal").hide();
 	$('#nav').spasticNav();
    $('body').on('click', 'button.action-cmds', function (event) {
        //TODO charger la liste commandes 
        
        document.location.href = "/commandes/client/" + $(this).data("id");

    });
    $('body').on('click', 'button.action-view', function (event) {
        $("#formModale").ModalFormBind( {
                                            'title': "Fiche Client",
                                            'height': '410',
                                            'resource':'clients', 
                                            'id': $(this).data("id"),
                                            'fields' : {
                                                            'civ': 'Civ',
                                                            'nom': 'Nom',
                                                            'prenom': 'Prénom',
                                                            'adresse': 'Adresse',
                                                            'cp': 'Code postal',
                                                            'ville': 'Ville',
                                                            'tel': 'Tel',
                                                            'mobile': 'Mobile',
                                                            'email': 'Mail',
                                                            'current_avoir': 'Avoir',
                                                            'current_debit': 'Débit'
                                                        }
                                        } );
        
    });
    
     $('body').on('click', 'button.action-new', function (event) {
        $("#formModale").ModalFormBind( {
                                            'title': "Fiche Client",
                                            'height': '410',
                                            'resource':'clients', 
                                            'id': 'N',
                                            'fields' : {
                                                            'civ': 'Civ',
                                                            'nom': 'Nom',
                                                            'prenom': 'Prénom',
                                                            'adresse': 'Adresse',
                                                            'cp': 'Code postal',
                                                            'ville': 'Ville',
                                                            'tel': 'Tel',
                                                            'mobile': 'Mobile',
                                                            'email': 'Mail',
                                                            'current_avoir': 'Avoir',
                                                            'current_debit': 'Débit'
                                                        }
                                        });
    });

    $('#tblClients').DataTable( {
        "columnDefs": [
            {
                // The `data` parameter refers to the data for the cell (defined by the
                // `data` option, which defaults to the column being worked with, in
                // this case `data: 0`.
                "render": function ( data, type, row ) {
                    var html = '<button class="btn btn-primary btn-xs btn-action action-view" style="font-size: 13px;" title="Voir le client" data-id="' + row[0] + '"><i class="fa fa-eye"></i></button>';
                    html += '<button class="btn btn-primary btn-xs btn-action action-cmds" style="font-size: 13px;margin-left:5px" title="Voir les commandes" data-id="' + row[0] + '"><i class="fa fa-shopping-basket"></i></button>';
                    
                    return html;
                },
                "targets": 9
            },
            { "visible": false,  "targets": [0] },
            { "className": "col_std", "targets": [ 1 ] },
            { "className": "col_std", "targets": [ 2 ] },
            { "className": "col_xxl", "targets": [ 3 ] },
            { "className": "col_std", "targets": [ 4 ] },
            { "className": "col_std", "targets": [ 5 ] },
            { "className": "col_std", "targets": [ 6 ] },
            { "className": "col_std", "targets": [ 7 ] },
            { "className": "col_std", "targets": [ 8 ] },
            { "className": "col_xxl", "targets": [ 9 ] },
            
        ],
         "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
           
            var cl = "classicGrey";
           
            $('td:eq(0)', nRow).addClass( cl );
            
            $('td:eq(1)', nRow).addClass( cl );
            $('td:eq(2)', nRow).addClass( cl );
            $('td:eq(3)', nRow).addClass( cl );
            $('td:eq(4)', nRow).addClass( cl );
            $('td:eq(5)', nRow).addClass( cl );
            $('td:eq(6)', nRow).addClass( cl );
            $('td:eq(7)', nRow).addClass( cl );
            $('td:eq(8)', nRow).addClass( cl );
            return nRow;
           
        },
        "processing": false,
        "serverSide": false,
        "paging": true,
        "ordering": true,
        "defaultOrdering": [[1, 'desc']],
        "searching": true,
        "search": {
            "smart": false
        },
        "ajax": '/<%=action%>/getAll'
    });
 });
</script>
</head>
<body>
<div id="dvHeader" class="row">
<%- menu %>
</div>

<div style="text-align:center"><H1><font >CLIENTS</font></H1>
<button class="btn btn-success action-new" value="Ajouter">+ Ajouter </button>

</div>

<div id="dvMiddle" class="row">

	<div id="rowClients" class="col-md-10" style="margin-left:100px;margin-top:20px;">
		<table id="tblClients" class="order-column" cellspacing="0" width="100%">
            <thead>
                <tr>
                	<th>id</th>
                    <th>nom</th>
                    <th>prenom</th>
                    <th>adresse</th>
                    <th>Code postal</th>
                    <th>Villes</th>
                    <th>Tel</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                	<th>id</th>
                    <th>nom</th>
                    <th>prenom</th>
                    <th>adresse</th>
                    <th>Code postal</th>
                    <th>Villes</th>
                    <th>Tel</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
	</div>
</div>
<div id="formModale" ></div>

</body>
</html>