<html>
<head>
<link href="/js/dependencies/pnotify.custom.min.css" rel="stylesheet">
<link rel="stylesheet" href="/styles/style.css" type="text/css" media="screen" />
<link href="/js/dependencies/jquery-ui/jquery-ui.css" rel="stylesheet">
<link href="/js/dependencies/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
<!--<script type="text/javascript" data-main="/js/dependencies/require.main.js"  src="/js/dependencies/require.js"></script>-->
  <link rel="stylesheet" type="text/css" href="/js/dependencies/msdropdown/css/msdropdown/dd.css" />


 <script type="text/javascript" src="/js/dependencies/jquery.js"></script>

 <script type="text/javascript" src="/js/dependencies/jquery-ui.js"></script>
 <script type="text/javascript" src="/js/dependencies/pnotify.js"></script>
 
 <script type="text/javascript" src="/js/dependencies/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="/js/dependencies/jquery.spasticNav.js"></script>	
 <script type="text/javascript" src="/js/dependencies/DataTables-1.10.12/media/js/jquery.dataTables.js"></script>	


<script>
 //require(['jquery','jquery-ui','pnotify','composant/caisse_init','composant/caisse','bootstrap-3.3.7-dist/js/bootstrap.min'], function () {
 	//alert($("#mondiv").attr('tom'));
$(function(){
  function calcul_prix_ligne(p_ttc, p_qte) {

    return parseInt((p_ttc * p_qte) * 100)/100;
  }
  function refreshLocalTotal() {
     
      var ttl = 0;
      var nbA =0;
      $(".prix_ttc").each(function(){
        nbA ++;
        ttl += parseFloat($(this).html());

      });
      ttl = ttl - parseFloat($("#txtAvoir").val());
      ttl = ttl + parseFloat($("#txtDebit").val());
      
      ttl = parseInt(ttl * 100)/100;
      $("#ttlMarchandises").html(ttl);
      $("#nbArt").html(nbA);
  }

 	var currentClient ="";
  var selectProduits = ""; 
 	$('#nav').spasticNav();
	
 	$.get('/clients/getAllJson',{}, function(datas){
        var selectClients = ""; 
        selectClients += "<option value='0'>--</option>";  
        if(datas.err == null) {
          var clt = datas;
          console.log(clt[0]);

          for (var cc = 0; cc < clt.length; cc++) {
            var attrS ="";
            //if(memoType == types[cc].id) attrS = "selected"; 
            selectClients += "<option value='" + clt[cc].id + "' " + attrS + " >" + clt[cc].nom + "(" + clt[cc].prenom + " de " + clt[cc].ville + ")</option>";
          }
          
        }

    $.get('/produits/types/list',{}, function(datas){
          
        if(datas.err == null) {
          var types = datas.data;
          selectProduits = "<select>";
          for (var cc = 0; cc < types.length; cc++) {
            var attrS ="";
            selectProduits += "<option value='" + types[cc].id + "'>" + types[cc].nom + "</option>";
          }
          selectProduits +=" </select>";
        }
        $("#firstP").click();
       
    });
        
    /*
    var currentR = $("#slRayon").append(selectProduits);
        currentR.change(function(){
          alert('zobbie' + $(this).val());
    });
    */
    $("#slClient").append(selectClients);
      $("#slClient").change(function() {
      	currentClient = $(this).val();
      	$.get('/clients/getOneById/' + currentClient,{}, function(datas){

            var ligne_nom = "<li >" + datas.data.civ + " " + datas.data.prenom + " " + datas.data.nom + "</li>";
            var ligne_adr = "<li style='margin-top:10px'>" + datas.data.adresse + "</li>";
            var ligne_ville = "<li>" + datas.data.cp + " " + datas.data.ville + "</li>";
            var ligne_tel = "<li style='margin-top:12px;font-weight:bold'>Tel : " + datas.data.tel + "</li>";
            var ligne_mobile = "<li style='font-weight:bold'>Mobile : " + datas.data.mobile + "</li>";
            $("#infos").html("<ul>" + ligne_nom + ligne_adr + ligne_ville + ligne_tel + ligne_mobile + "</ul>");
        });

        	//Gérer l'accès à la dernière commande
        	//Gérer le changement de client courrant
      });
    });
    $('body').on('click', 'button.action-suppr', function (event) {
      $(this).parent().parent().remove();
      refreshLocalTotal();
    });
     //ajout d'une ligne produit
     $('body').on('click', 'button.action-newL', function (event) {
       refreshLocalTotal();
       var table = $("#tblCommande");
       var ligne = "<tr class='ligneProduit'>" +
                  "<td></td>" +
                  "<td></td>" +
                  "<td class='les_produits'></td>" +
                  "<td><input  type='text' class='txt50' value='1'></td>" +
                  "<td class='prix_unitaire'></td>" +
                  "<td class='prix_ttc'></td>" +
                  "<td><button class='btn btn-danger action-suppr'>-</button></td>" +
                  "</tr>";

       $(ligne).appendTo(table.find('tbody:last'));
       //ajout du combo rayon dans la premère cellule
       var currentSelect = table.find('tr:last').find('td:nth-child(1)').append(selectProduits);
       //sur le choix d'un rayon, mise en place du combo image des produits associés
       currentSelect.change(function(o){
          var idRayon = $(this).find('option:selected').val();
          var self = $(this);
          $.get('/produits/getAll/' + idRayon,{}, function(datas){
            var tbP = datas.data;
            var slP = "<div class='dropdown'>" +
              "<button class='btn btn-primary dropdown-toggle' id='menu1' type='button' data-toggle='dropdown'>" + 
              "CHOIX PRODUIT<span class='aret'></span></button>" +
              "<ul class='dropdown-menu' role='menu' aria-labelledby='menu1'>";
               for (var c = 0; c < tbP.length; c++) { 
                var dataBloc = "data-id='" + tbP[c][0] + "' ";
                    dataBloc += "data-tva='" + tbP[c][7] + "' ";
                    dataBloc += "data-ht='" + tbP[c][6] + "' ";
                    dataBloc += "data-ttc='" + tbP[c][9] + "' ";
                    dataBloc += "data-txcom='" + tbP[c][8] + "' ";
                    dataBloc += "data-dispo='" + tbP[c][12] + "' ";
                    dataBloc += "data-ref='" + tbP[c][3] + "' ";
                    
                slP += "<li role='presentation'><a " + dataBloc + " role='menuitem' tabindex='-1' class='selectionP'><img class='pictoImg' src='" + tbP[c][10] + "'>" + tbP[c][1] + "</a></li>";
               }
            slP += "</ul></div>";
            selfLigne = self.parent();
            var choixProduit = self.parent().find('td:nth-child(3)').html(slP);
            $(".selectionP").click(function(){
               //alert('poilade ' + $(this).data('ref'));
              $(this).parent().parent().parent().find('button').text($(this).text());//mettre le nom produit dans le toggle
              //mise en place de la référence du produit choisi
              var objLigne = self.parent().find('td');
              objLigne.eq(1).html($(this).data('ref'));
              var l_ht = $(this).data('ht');
              var l_tva = $(this).data('tva');
              var l_txcom = $(this).data('txcom');
              var l_ttc = parseFloat($(this).data('ttc'));
              var qte =  parseFloat(objLigne.eq(3).find('.txt50').val());
              selfLigne = objLigne;
              selfP = $(this);
              objLigne.eq(3).find('.txt50').change(function(){
                var bis_ttc = parseFloat(selfP.data('ttc'));
                var bis_qte =  parseFloat(selfLigne.eq(3).find('.txt50').val());
                objLigne.eq(5).html(calcul_prix_ligne(bis_ttc, bis_qte));
                refreshLocalTotal();
              });
              
              //var pu = calcul_pu(l_ht, l_txcom, l_tva);
              objLigne.eq(4).html(l_ttc);
                            
              objLigne.eq(5).html(calcul_prix_ligne(l_ttc, qte));
              refreshLocalTotal();
            });
            


          });
       });
     });
    

    $("#tblCommande").DataTable({
      'searching': false,
      'paging': false,
      'bInfo': false
    });
    
 });
  
</script>
</head>
<body>
<div id="dvHeader" class="row">
<%- menu%>
</div>

<div id="dvMiddle" class="row">
	<div id="mondiv" class="col-md-4 arrondi-plein">
	   <font class="alignLabel">Client</font><select id="slClient"></select><div id='infos'></div>
  </div>
</div>

<div id="dvMiddle" class="row">
 
 <div class="col-md-10 arrondi-commande" style="margin-bottom:0px">
  <table id="tblCommande" class="order-column" cellspacing="0" width="100%">
    <thead>
        <tr>
          <th>RAYON</th>
            <th class="txt80 marge">REF.</th>
            <th class="txt250 marge">DESIGNATION</th>
            <th class="txt50 marge">Qté/Poids</th>
            <th class="txt50 marge">Prix U.</th>
            <th class="txt90 marge">TOTAL TTC</th>
            <th class="txt90 marge"></th>
            
          </tr>
    </thead>
    <tbody id='zzz'>
        <tr class='ligneProduit'>
          <td class="clRayon"></td>
          <td></td>
          <td class="clProduit"></td>
          <td></td>
          <td></td>
          <td></td>
          <td><button id="firstP" class="btn btn-success action-newL" value="">+</button></td>
        </tr>
    </tbody>
  </table>

</div>  
<div class="col-md-10 arrondi-commande-footer" style="margin-top:0px">
  <div class="arrondi-plein-art">
    Art : <font id="nbArt"></font><br>

  </div>
  <div style="float:left;margin-right:500px;">
    <ul class="infosLi">
      <li>Avoir : <input id='txtAvoir' class="txt50" type='text' value="0"></li>
      <li>Débit : <input id='txtDebit' class="txt50" type='text' value="0"></li>
    </ul>
  </div>
  <div style="float:left;">
    <font id="marchandise">Marchandises</font><font id='ttlMarchandises' style="margin-right:20px"></font><button class="btn btn-warning">Validation</button><br>
    <div class="arrondi-plein-net"><b>Net à payer</b><input id='txtNet' class="txt50" type='text' value="0"></div>
  </div>
</div>  
 
</body>

</html>