<html>
<head>
<link rel="stylesheet" href="/styles/font-awesome-4.7.0/css/font-awesome.min.css">
<link href="/js/dependencies/pnotify.custom.min.css" rel="stylesheet">
<link rel="stylesheet" href="/styles/style.css" type="text/css" media="screen" />
<link href="/js/dependencies/jquery-ui/jquery-ui.css" rel="stylesheet">
<link href="/js/dependencies/sc026/css/style.css" rel="stylesheet">
<link href="/js/dependencies/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/js/dependencies/DataTables-1.10.12/media/css/jquery.dataTables.min.css" rel="stylesheet">

<!--<script type="text/javascript" data-main="/js/dependencies/require.main.js"  src="/js/dependencies/require.js"></script>-->
  <link rel="stylesheet" type="text/css" href="/js/dependencies/msdropdown/css/msdropdown/dd.css" />


 <script type="text/javascript" src="/js/dependencies/jquery.js"></script>

 <script type="text/javascript" src="/js/dependencies/jquery-ui.js"></script>
 <script type="text/javascript" src="/js/dependencies/pnotify.js"></script>
 
 <script type="text/javascript" src="/js/dependencies/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
 <script type="text/javascript" src="/js/dependencies/jquery.spasticNav.js"></script>
 <script type="text/javascript" src="/js/dependencies/sc026/scr/modernizr.js"></script>
 	
 <script type="text/javascript" src="/js/dependencies/DataTables-1.10.12/media/js/jquery.dataTables.js"></script>	
 <script type="text/javascript" src="/js/dependencies/caisse/caisse.js"></script>  
 <script type="text/javascript" src="/js/dependencies/commande/commande.js"></script>  


<script>
 //require(['jquery','jquery-ui','pnotify','composant/caisse_init','composant/caisse','bootstrap-3.3.7-dist/js/bootstrap.min'], function () {
 	//alert($("#mondiv").attr('tom'));
$(function(){
  function GestionAffichage(fCommande) {
    $(".rawContent").each(function(){
      $(this).remove();
    });
    $("#idCommande").html(fCommande.id);
    $("#statusCommande").html(fCommande.status);
    $("#cmdNet").html(fCommande.total_commande);
    $("#nbArt").html(fCommande.ttlArticles);
    $("#infoCmd").show();
    $("#btnAchat").show();
    currentIdClient = fCommande.client.id;
   
    for(var f = 0; f < fCommande.produits.length; f++) {
      AjouterUneLigne(fCommande.produits[f]);
    }          
  }

  function AjouterUneLigne(obj) {
     var produit_ligne = "<tr class='rawContent' data-id='" +  obj.index_ligne + "'>";
          produit_ligne += "<td class='rayon_pr'>" +  obj.rayon  + "</td>";
          produit_ligne += "<td class='ref_pr'>" +  obj.ref_interne  + "</td>";
          produit_ligne += "<td><img class='pictoImg' src='/images/images_rayons/" + obj.idr + "/" + obj.icone + "'></td>";
          produit_ligne += "<td>" +   obj.nom  + "</td>";
          produit_ligne += "<td class='prqte'>" +   obj.qte   + "</td>";
          produit_ligne += "<td class='pu_pr'>" +  obj.pu  + "</td>";
          produit_ligne += "<td class='prix_ttc'>" +  obj.ttc   + "</td>";
          produit_ligne += "<td><button class='btn btn-danger action-suppr'>-</button></td>";
          produit_ligne += "</tr>";
     $(produit_ligne).appendTo($("#tblCommande").find('tbody:last'));
  }
  var currentIdClient = 0;
  PNotify.prototype.options.styling = "jqueryui";
  //init des box
  $("#infoCmd").hide();
  $("#btnAchat").hide();
  var fullCommande = {
      client: null, 
      id: null, 
      status: null, 
      dt_livraison: null, 
      produits: [],
      total_commande: 0

  };
  
 	var currentClient ="";
  var selectProduits = ""; 
  //var btnChoixProduit = "<button class='btn btn-primary choix'>Selection</button>";

 	//$('#nav').spasticNav();
	function rechercheClient(currentClient) {
    $.get('/clients/getOneById/' + currentClient,{}, function(datas){
        currentIdClient = datas.data.id;

        var ligne_nom = "<li >" + datas.data.civ + " " + datas.data.prenom + " " + datas.data.nom + "</li>";
        var ligne_adr = "<li style='margin-top:10px'>" + datas.data.adresse + "</li>";
        var ligne_ville = "<li>" + datas.data.cp + " " + datas.data.ville + "</li>";
        var ligne_tel = "<li style='margin-top:12px;font-weight:bold'>Tel : " + datas.data.tel + "</li>";
        var ligne_mobile = "<li style='font-weight:bold'>Mobile : " + datas.data.mobile + "</li>";
        $("#infos").html("<ul>" + ligne_nom + ligne_adr + ligne_ville + ligne_tel + ligne_mobile + "</ul>");
        fullCommande.client = datas.data;
    });
  }
 	$.get('/clients/getAllJson',{}, function(datas){
        var selectClients = ""; 
        selectClients += "<option value='0'>--</option>";  
        if(datas.err == null) {
          var clt = datas;
          console.log(clt[0]);

          for (var cc = 0; cc < clt.length; cc++) {
            var attrS ="";
            //if(memoType == types[cc].id) attrS = "selected"; 
            selectClients += "<option value='" + clt[cc].id + "' " + attrS + " >" + clt[cc].nom + "(" + clt[cc].prenom + " de " + clt[cc].ville + ")</option>";
          }
          
        }
    //affichage du choix du rayon dans la modal des choix de produit
    $.get('/produits/types/list',{}, function(datas){
          
        if(datas.err == null) {
          var types = datas.data;
          selectProduits = "<select id='slP'>";
          for (var cc = 0; cc < types.length; cc++) {
            var attrS ="";
            selectProduits += "<option value='" + types[cc].id + "'>" + types[cc].nom + "</option>";
          }
          selectProduits +=" </select>";
        }
        $(".fontPr").append(selectProduits);
        //setDataTable dans /js   caisse.js
        var globalTable = $("#tblP").setDataTable('produits',0);
        //Gestion du choix produit
        $("#slP").change(function(){
          var idRayon = $(this).find('option:selected').val();
          //Choix d'un produit
          globalTable.ajax.url( '/produits/getAll/' + idRayon ).load();
         

        });
    });
        
    //Ajout des infos clients en général et client selectionné
    $("#slClient").append(selectClients);
    if(currentIdClient > 0) {
      $("#slClient").val(currentIdClient);
      rechercheClient(currentIdClient);
    }
      $("#slClient").change(function() {
      	currentClient = $(this).val();
      	rechercheClient(currentClient);

      });
    });

    //suppression d'une ligne produit
    $('body').on('click', 'button.action-suppr', function (event) {
      var numC = parseInt($("#idCommande").html());
      if (isNaN(numC)) numC = 0; 
      var rawId = parseInt($(this).parent().parent().data('id'));
      $.post('/commandes/retirer_produit', {'id_commande': numC, 'id_client': currentIdClient, 'index_ligne': rawId}, function(datas) {
          if(datas.err != null) {
             var infos = new PNotify({
                title: 'Erreur ',
                text: datas.err,
                type: 'error',
                desktop: {
                  desktop: true
                }
              }); 
          } else {
            //alert(JSON.stringify(datas.commande));
              fullCommande = datas.commande;
              GestionAffichage(fullCommande);
          }
        });
    });
     //affichage de la modale choix produit
     $('body').on('click', 'button.action-newL', function (event) {
       
       var table = $("#tblCommande");
       
       //Affichage de la modale choix produit       
       $("#dvChoixPr").css('display','block');
       $(".close").click(function() {
          $("#dvChoixPr").css('display','none');
       });
       
     });

    var dt = $("#tblCommande").setCommandeTable();

    //ajout du nombre de produit (créé dans le datatable render)
    $('body').on('click', 'button.action-add', function (event) {
        var q = parseInt( $(this).parent().find(".fontQte").html() );
        $(this).parent().find(".fontQte").html( q+1 );
    });
    $('body').on('click', 'button.action-min', function (event) {
        var q = parseInt( $(this).parent().find(".fontQte").html() );
        if(q>1) $(this).parent().find(".fontQte").html( q-1 );
    });
    ////

    $('body').on('click', 'button.action-okpr', function (event) {
        //On a choisi un produit 
        var qte = $(this).parent().parent().find(".fontQte").html();
        
        var lignes = new Array();
        var ligne = {
          'id_produit': $(this).data('id'),
          'qte': qte
        }
        //alert('pr :  ' + JSON.stringify(ligne));
        lignes.push(ligne);
        $("#dvChoixPr").css('display','none');//fermeture de la modale
        var numC = parseInt($("#idCommande").html());
        if (isNaN(numC)) numC = 0; 
        $.post('/commandes/addormodify',{'id_commande': numC, 'id_client': currentIdClient, 'dt_livraison' : null, 'lignes': lignes}, function(datas){
              //alert(JSON.stringify(datas.fullCommande));
              if(datas.err != null) {
                 var infos = new PNotify({
                    title: 'Erreur ',
                    text: datas.err,
                    type: 'error',
                    desktop: {
                      desktop: true
                    }
                  }); 
              } else {
                //alert(JSON.stringify(datas.commande));
                  fullCommande = datas.commande;
                  GestionAffichage(fullCommande);
              }
          });
        
    });

    $("#validation").click(function(){
        var numC = parseInt($("#idCommande").html());
        if (isNaN(numC)) numC = 0; 
        $.post('/commandes/valider',{'id_commande': numC, 'id_client': currentIdClient}, function(datas) {
           if(datas.err != null) {
               var infos = new PNotify({
                  title: 'Erreur ',
                  text: datas.err,
                  type: 'error',
                  desktop: {
                    desktop: true
                  }
                }); 
          } else {
               var infos = new PNotify({
                  title: 'OK ',
                  text: "Commande validée!",
                  type: 'success',
                  desktop: {
                    desktop: true
                  }
                }); 
               fullCommande = datas.commande;
               GestionAffichage(fullCommande);
          }
        });
    });
  
  <% if (id !== null && id !== undefined) {%>
      var currentID = '<%=id%>';
      if (parseInt(currentID) > 0) {
         //load d'une commande
         
         fullCommande = <%- f_com%>;
         GestionAffichage(fullCommande);
         
      } 
  <%}%> 

 });
</script>
</head>
<body>

<div id="dvHeader" class="row">
<%- menu%>
</div>

<div id="dvMiddle" class="row">
	<div id="mondiv" class="col-md-4 arrondi-plein">
	   <font class="alignLabel">Client</font><select id="slClient"></select><br><div id='infos'></div>
  
     <div id="infoCmd">
        <table>
          <tr><td>Commande : </td><td id='idCommande'></td></tr>
          <tr><td>Status : </td><td id='statusCommande'></td></tr>
        </table>
        

     </div>

  </div>
</div>

<div id="dvMiddle" class="row">
 
 <div class="col-md-10 arrondi-commande" style="margin-bottom:0px"><br>
 <button id="firstP" class="btn btn-success action-newL" value="">Ajouter +</button>
  <table id="tblCommande" class="order-column" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>id</th>
            <th>RAYON</th>
            <th class="txt80 marge">REF.</th>
            <th class="txt80 marge"></th>
            <th class="txt250 marge">DESIGNATION</th>
            <th class="txt50 marge">Qté/Poids</th>
            <th class="txt50 marge">Prix U.</th>
            <th class="txt90 marge">TOTAL TTC</th>
            <th class="txt90 marge"></th>
            
          </tr>
    </thead>
    <tbody id='zzz'>
       
    </tbody>
  </table>

</div>  
<div class="col-md-10 arrondi-commande-footer" style="margin-top:0px">
  <div class="arrondi-plein-art">
    Art : <font id="nbArt"></font><br>

  </div>
  <div style="float:left;margin-right:500px;">
    <ul class="infosLi">
      <li>Avoir : <input id='txtAvoir' class="txt50" type='text' value="0"></li>
      <li>Débit : <input id='txtDebit' class="txt50" type='text' value="0"></li>
    </ul>
  </div>
  <div style="float:left;">
    <font id="marchandise">Marchandises</font><font id='ttlMarchandises' style="margin-right:20px"></font><button id="validation" class="btn btn-warning">Validation</button><br>
    <div class="arrondi-plein-net"><b>Net à payer</b><font id="cmdNet" class="txt50"></font></div>
  </div>
</div>  
 <%- partial ('/home/gilles/node/git/caisse/views/produits/choix.ejs',{'nom': 'Gilles Manouvrier'}) %>

</body>

</html>