
<div id="dvChoixPr" class="modal container">

  <!-- Modal content -->
  <div class="modal-content" width="100%" width="100%"id="mct">
    <div class="modal-header">
      <span class="close">&times</span>
      <b>Choix Produit</b>
    </div>
    <div class="modal-body" width="100%" style="background-color:#FFFFFF">
      <font class="fontPr">Rayon</font>
      <div class="toolbar"></div>
      <table id="tblP" class="order-column"  cellspacing="0" width="100%" >
	    <thead>
	       
	    </thead>
	    
	  </table>
    </div>
    
  </div>

</div>
